.wrapper {
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: top center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(0,0,0,0.3);
  }
  >div{
    position: relative;
    z-index: 1;
    max-width: 480px;
    margin: 0 auto;
  }

}