@import "styles/variables";
.wrapper{
  border-radius: 15px;
  padding: 1.5rem;
  width: 80%;
  margin: 2rem 3rem;
  @include glassEffect;

}
.title{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  >h1{
    color: var(--white);
    font-size: 22px;
    margin: 0;
    margin-left:1rem ;
  }
}
.desc{
  font-size: 14px;
  color: var(--white);
  opacity: 0.8;
  line-height: 1.66;
}
.additional{
  margin-top: 2rem;
  font-size: 18px;
  color: var(--white);
  display: flex;
  align-items: center;
  gap:3rem;
}
.additionalInfo{
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 2px solid rgba(#565658,0.4);
  padding: 5px 15px;
  >span{
    color: var(--white);
    font-weight: bold;
    margin-left: 0.5rem;
  }
}
.map{
  width: 200px;
  background-color: gray;
  margin-top: 1.5rem;
}